<div class="stores-container">
  <div class="store-card">
    <h2>Parque Verde</h2>
    <div class="store-card-label">
      <p>{{ 'Total: ' + totalPrintsPerMonth().toLocaleString('pt-BR') }}</p>
    </div>
    <div class="area-chart">
      <canvas id="pvChart"></canvas>
    </div>
  </div>

  <div class="store-card">
    <h2>Tancredo</h2>
    <div class="store-card-label">
      <p>{{ 'Total: ' + totalPrintsPerMonth().toLocaleString('pt-BR') }}</p>
    </div>
    <div class="area-chart">
      <canvas id="tcrChart"></canvas>
    </div>
  </div>

  <div class="store-card">
    <h2>Floresta</h2>
    <div class="store-card-label">
      <p>{{ 'Total: ' + totalPrintsPerMonth().toLocaleString('pt-BR') }}</p>
    </div>
    <div class="area-chart">
      <canvas id="floChart"></canvas>
    </div>
  </div>

  <div class="store-card">
    <h2>Matriz</h2>
    <div class="store-card-label">
      <p>{{ 'Total: ' + totalPrintsPerMonth().toLocaleString('pt-BR') }}</p>
    </div>
    <div class="area-chart">
      <canvas id="mtzChart"></canvas>
    </div>
  </div>
</div>