.graphic {
  margin-bottom: 24px;
}
.cards {
  margin: 0 50px 36px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-auto-flow: row;
  gap: 36px;
  row-gap: 36px;
}

app-graphic {
  grid-row: 1;
}

app-cards {
  grid-row: 2;
}